@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Roboto:wght@300&display=swap');
:root {
    --primary-color: #EBEBEB;
    --secondary-color: #446674;
    --accent1-color: #AF8E50;
    --accent2-color: #1b4b5f;

    --heading-font: inclusive-sans, serif;
    --paragraph-font: roboto, serif;

    --nav-background-color: #446674;
    --nav-link-color: #AF8E50;
    --nav-hover-link-color: #C5AD81;
    --nav-hover-background-color: #5B889A;
}
body {
    font-family: var(--paragraph-font);
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)
}
header {
    background-color: var(--secondary-color);
    margin: 2rem;
    height: 400px;
    border: 1rem solid #2b2417;
}
p {
    padding: 25px;
}
nav {
    font-size: 2rem;
    display: flex;
    width: fit-content;
    grid-column-start: 3;
    grid-row-start: 3;
}
nav a {
    display: flex;
    width: 200px;
    height: 50px;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
    border: 5px solid #2b2417;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.hero {
    position: relative;
  }
.hero img {
    display: block;
    width: 96.7%;
    height: auto;
    margin: 2rem;
}
h1 {
    position: absolute;
    top: 20%;
    left: 28%;
    color: var(--secondary-color);
    font-size: 5rem;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
article {
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity as needed */
    padding: 10px;
    border-radius: 10px;
    width:1500px;
    font-size: 2rem;
}
article img {
    float: right;
    margin: 20px;
    max-width: 300px;
}
section img {
    width: 100%; 
    height: auto; 
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
}
footer img {
    width: 50px;
    height: auto;
    display: inline-block;
  }
.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
header img {
    width: 200px;
    border: 10px solid #2b2417;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 10rem;
}
.box {
    margin: 2rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
figcaption {
    width: fit-content;
}
.flex {
    display: flex;
}
figure {
    display: block;
    width: 100rem;
}
footer {
    height: 65px;
}
footer p{
    grid-column-start: 3;
    grid-row-start: 1;
    width: 400px;
    height: 10px;
    text-decoration:underline
}
footer nav {
font-size: 2rem;
display: flex;
width: fit-content;
height: fit-content;
grid-column-start: 5;
grid-row-start: 1; 
}
footer nav a {
    display: flex;
    width: fit-content;
    height: 50px;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
    border: none
}